{% extends 'main.html' %} {% block content %}
<form action="{{ url_for('predictionPage')}}" method="POST">
    <label>sepal_length</label>
    <input
        type="number"
        name="sepal_length"
        placeholder="Enter the sepal_length"
        min="1"
        max="10" />
    <label>sepal_length</label>
    <input
        type="number"
        name="sepal_width"
        placeholder="Enter the sepal_width"
        min="1"
        max="10" />
    <label>sepal_length</label>
    <input
        type="number"
        name="petal_length"
        placeholder="Enter the petal_length"
        min="1"
        max="10" />
    <label>sepal_length</label>
    <input
        type="number"
        name="petal_width"
        placeholder="Enter the petal_width"
        min="1"
        max="10" />
    <input type="submit" value="Predict" required />
</form>
<h1>The Species is {{prediction}}</h1>
{% endblock %}
